<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
 <link rel="stylesheet" th:href="@{/css/mystyle.css}"/>
</head>

<body style="background-color: rgb(162, 208, 255);  "   >

<header  id="last">
    <h1>Registration Successful!</h1>
    <p>Thank you for registering.</p>
</header>
<div class="p-2 w-full" id = "buttons" >
	<a href="/form" class="mr-5 hover:text-gray-900"> <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" id="button">Back</button></a>
               
             
<a href="view_form" class="mr-5 hover:text-gray-900"> <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" id="button">View</button></a>
               
              </div>
              
</body>

</html>